body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: neuton, serif;
    font-size: : 20px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    text-decoration: none;
    color: #000000;
}

#background_image {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#titulo {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

form {
    padding: 3px;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

form input {
    margin-left: 5px;
    border: 2px #000000 solid;
    padding: 10px;
    width: 95%;
}

form button { 
    width: 8%;
    height: 40px;
    background-color: #ff3333;
    color: white;
    padding: 12px 12px;
    margin: 8px 5px;
    cursor: pointer;
    border: 1px #000000 solid;
    text-align: center;
}

form button:hover {
    opacity: 0.8;
}

#messages {
    width: 90%;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px #000000 solid;
    background-color: #eeeeee;
}

#messages > p {
    text-decoration: underline;
    margin-bottom: 5px;
}

#messages > li {
    padding: 5px 10px; 
    font-family: neuton, serif;
    font-size: : 20px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    border-bottom: 0.5px #333333 solid;
}