body {
    width: 100%;
    height: 100%;
    font-family: neuton, serif;
    font-size: : 20px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}

#background_image {
    z-index: -999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* Título */
#contenedor_titulo {
    padding: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#titulo {
    color: #555555;
    font-size: 50px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    left: 50%;
}

#avatar {
    height: 75%;
    position: absolute;
    right: 50%;
}

/* Login */
form {
    padding: 3px;
    margin: 10px;
    width: 100%;
}

.container {
    width: 50%;
    margin: 0 auto;
    min-width: 400px;
}

label {
    width: 20%;
    font-weight: bold;
    margin: 0 auto;
}

input {
    margin: 0 5px;
    border: 1px #000000 solid;
    padding: 10px;
    width: 50%;
    background-color: #dddddd;
}

.button {
    width: 100px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    opacity: 0.8;
}

/* Bienvenida */
#bienvenida {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #222255;
    width: 100%;
    min-width: 300px;
    width: 100%;
    position: absolute;
    top: 80px;
    margin: 10px;
    padding: 10px;
}

#caja_usuario {
    width: 100%;
    position: absolute;
    top: 150px;
    max-height: 350px;
}

#caja_chat {
    width: 100%;

    top: 150px;
    max-height: 350px;
}

ul {
    list-style-type: none;
    max-height: 300px;
}

/* Panel de usuarios conectados */
#lista_usuarios {
    float: left;
    width: 15%;
    height: 100%;
    border: 1px #333333 solid;
    padding: 5px;
    margin: 15px;
    background-color: #999999;
    overflow: auto;
}

#lista_usuarios > p {
    color: #eeeeee;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px #333333 solid;
}

.usuario {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

#usuario_propio {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    color: #ffffff;
}

/* Panel del chat */
#mensajes {
    width: 70%;
    height: 100%;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: 1px #000000 solid;
    background-color: #eeeeee;
    overflow: auto;
}

#mensajes > p {
    text-decoration: underline;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

#mensajes > li {
    padding: 5px 10px; 
    border-bottom: 0.5px #333333 solid;
}

/* Panel de envió de mensajes */
#chat {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
}